* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ol,
ul {
    list-style-type: none;
}

a:hover,
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
a,
p,
img,
input {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #353535;
    font-weight: 500;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #555555;
    font-size: 14px;
    line-height: 24px;
}

h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
}

h4 {
    font-size: 14px;
    font-weight: 400;
}

h5 {
    font-size: 16px;
}

.pt_60 {
    padding-top: 60px;
}

.py_60 {
    padding: 60px 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}


/*== preloader css ==*/

.preloader {
    position: fixed;
    z-index: 999999;
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.preloader img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


/* header_part css start*/

.header_part {
    background: #0872b9;
}

.header_part .header_content h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #e7e7e7;
    text-transform: capitalize;
    padding: 10px 0px;
}

.header_part .header_icon ul li {
    float: left;
}

.header_part .header_icon ul li a {
    color: #ffffff;
    font-size: 14px;
    padding: 10px 12px;
    display: block;
    transition: all linear .3s;
}

.header_part .header_icon ul li:hover a {
    color: #353535;
}

.header_part .header_icon ul li:last-child a {
    padding-right: 0px;
}


/* header_part css end*/


/* nav_part css start*/

.navbar-brand {
    padding: 20px 0px;
    margin-right: 0px;
}

.menu_part .nav-item .nav-link {
    color: #353535;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 35px 7.5px;
    transition: all linear .3s;
}

.menu_part .nav-item.active .nav-link,
.menu_part .nav-item:hover .nav-link {
    color: #0872b9;
}


/* nav_part css end*/


/* banner_part css start*/

#banner_part {
    position: relative;
}

.overlay_banner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.72);
}

#banner_part .carousel-caption {
    top: 0;
    right: 5%;
}

#banner_part .carousel-control-next,
#banner_part .carousel-control-prev {
    width: 5%;
}

#banner_part .carousel-indicators {
    bottom: 52px;
}

.banner_content {
    padding: 85px 0px;
}

.banner_content h3 {
    padding-bottom: 5px;
}

.banner_content h1 {
    padding-bottom: 20px;
}

.banner_content p {
    color: #ffffff;
    padding-bottom: 25px;
}

.banner_content a {
    color: #ffffff;
    font-size: 14px;
    padding: 0px 13px;
    display: inline-block;
    border: 1px solid #ffffff;
    line-height: 30px;
    margin-left: 15px;
    transition: all linear.3s;
}

.banner_content a:hover {
    background: #0872b9;
    border-color: #0872b9;
}


/* banner_part css end*/


/* common_heading css start*/

.common_heading {
    padding-bottom: 40px;
}

.common_heading img {
    position: relative;
    top: -12px;
    left: -17px;
}

#service_part .common_heading img {
    left: -30px;
}

#service_part .common_heading {
    padding-bottom: 15px;
}

#protfolio_part .common_heading img {
    left: -42px;
}

#testomonial_part .common_heading img {
    left: -28px;
}


/* common_heading css end*/


/* about_part css start*/

#about_part {}

.about_content p {
    padding-top: 35px;
}


/* about_part css end*/


/* service_part css start*/

#service_part {}

.service {
    position: relative;
}

.ser_icon {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-50%);
    background: #f1f1f1;
    border: 3px solid #ffffff;
    left: 50%;
    top: -40px;
    transition: all linear.3s;
}

.ser_icon_img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #f1f1f1;
    border: 2px solid #ffffff;
    margin: 2px auto;
    text-align: center;
    transition: all linear.3s;
}

.ser_icon_img img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ser_content {
    padding: 50px 0px 20px;
    background: #f1f1f1;
    transition: all linear.3s;
}

.ser_content h5 {
    padding-bottom: 10px;
}

.ser_content p {
    padding: 0px 20px;
}

.service:hover .ser_icon,
.service:hover .ser_icon_img {
    background: #5bc5f4;
}

.service:hover .ser_content {
    box-shadow: 0 0 5px #000000;
}

#service_part .slick-list {
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 30px;
}


/* service_part css end*/


/* protfolio_part css start*/

.gly_mb_30 {
    margin-bottom: 30px;
}

.gly_img {
    position: relative;
}

.overlay_gly {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: scale(0);
    text-align: center;
    transition: all linear.3s;
    background: rgba(0, 0, 0, 0.77);
}

.overlay_gly a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #5bc5f4;
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.overlay_gly a i {
    line-height: 40px;
}

.gly_img:hover .overlay_gly {
    transform: scale(1);
}


/* protfolio_part css end*/


/* team_part css start*/

.team_img {
    position: relative;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.overlay_team {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    text-align: center;
    opacity: 0;
    transition: all linear.3s;
    -webkit-transition: all linear.3s;
    -moz-transition: all linear.3s;
    -ms-transition: all linear.3s;
    -o-transition: all linear.3s;
}

.overlay_team ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.overlay_team ul li a {
    display: inline-block;
    height: 35px;
    width: 35px;
    border: 1px solid #ffffff;
    margin-bottom: 10px;
    color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.overlay_team ul li a i {
    line-height: 35px;
    font-size: 16px;
}

.overlay_team ul li:hover a {
    background: #5bc5f4;
    border-color: #5bc5f4;
}

.overlay_team ul li:last-child a {
    margin: 0;
}

.team:hover .overlay_team {
    opacity: 1;
    width: 40%;
}

.team:hover .team_img {
    box-shadow: 0 0 5px #000000;
}

.team h5 {
    padding: 10px 0px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.team:hover h5 {
    color: #5bc5f4;
}

.team h6 {
    font-size: 14px;
    font-weight: 400;
    color: #555555;
}


/* team_part css end*/


/* testomonial_part css start*/

.tes_img {
    height: 80px;
    width: 80px;
    overflow: hidden;
    margin: 0 auto 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.test_content {
    padding: 20px 0px;
    background: #f1f1f1;
    position: relative;
}

.test_content::before {
    position: absolute;
    height: 25px;
    width: 25px;
    top: -13px;
    background: #f1f1f1;
    content: '';
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -o-transform: translateX(-50%) rotate(45deg);
}

.test_content span i {
    color: #5bc5f4;
}

.test_content h5 {
    padding: 10px;
}

.test_content h6 {
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    padding-top: 10px;
}

.test_content p {
    padding: 10px 20px 0px;
    font-family: 'Oswald', sans-serif;
}


/* testomonial_part css end*/


/* footer_part css start*/

.main_footer {
    background: #353535;
    padding: 20px 0px;
}

.ft_logo p {
    color: #f1f1f1;
    padding-top: 30px;
}

.ft_contact h6 {
    color: #ffffff;
    font-size: 16x;
    text-transform: capitalize;
    padding-bottom: 40px;
}

.ft_contact .col-2 i {
    height: 35px;
    width: 35px;
    color: #ffffff;
    font-size: 16px;
    background: #5bc5f4;
    line-height: 35px;
    text-align: center;
    margin-top: 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.ft_menu .col-6 ul li a,
.ft_contact .col-10 a {
    display: block;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    text-transform: none;
}

.pb_20 {
    padding-bottom: 20px;
}

.ft_menu .col-6 ul li a {
    padding: 08px 0px;
    text-transform: capitalize;
    transition: all linear.3s;
    -webkit-transition: all linear.3s;
    -moz-transition: all linear.3s;
    -ms-transition: all linear.3s;
    -o-transition: all linear.3s;
}

.ft_menu .col-6 ul li:last-child a {
    padding-bottom: 0px;
}

.ft_menu .col-6 ul li:first-child a {
    padding-top: 0px;
}

.ft_menu .col-6 ul li:hover a {
    color: #5bc5f4;
}

.mb_30 {
    margin-bottom: 30px;
}

.copy_ft {
    background: #555555;
    padding: 15px 0px;
}

.copy_ft p {
    color: #f1f1f1;
}

.copy_ft p a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #f1f1f1;
    text-transform: uppercase;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.copy_ft p:hover a {
    color: #5bc5f4;
}


/* back top btn*/

.back-top-btn {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 999;
    display: none;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
}

.back-top-btn i {
    width: 50px;
    height: 50px;
    background: #5bc5f4;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* back top btn*/


/* footer_part css end*/